.col-sm-12.promotion-set
    .game-icon.case.not-hover
        .game-icon
    .game-icon.case.not-hover
        .game-icon.football
        .game-icon.football-label.not-hover
    .game-icon.case.not-hover
        .game-icon.bonus
        .game-icon.bonus-label.not-hover
    .game-icon.case
        .game-icon.lottery
        .game-icon.lottery-label.not-hover
