.col-sm-12
    .container
        .row.hidden-xs
            .col-sm-12.promotion-set
                .game-icon.case.not-hover
                    .game-icon
                .game-icon.case.not-hover
                    .game-icon.football
                    .game-icon.football-label.not-hover
                .game-icon.case.not-hover
                    .game-icon.bonus
                    .game-icon.bonus-label.not-hover
                .game-icon.case
                    .game-icon.lottery
                    .game-icon.lottery-label.not-hover
        //mobile
        .row.visible-xs
            .col-xs-6
                a.btn-mobile-menu(href='#')
                    img(src='../img_mobile/icon/index_icon_1.png')
            .col-xs-6
                a.btn-mobile-menu(href='#')
                    img(src='../img_mobile/icon/index_icon_2.png')
            .col-xs-6
                a.btn-mobile-menu(href='#')
                    img(src='../img_mobile/icon/index_icon_3.png')
            .col-xs-6
                a.btn-mobile-menu(href='#')
                    img(src='../img_mobile/icon/index_icon_4.png')