.thumb-menu
    //pc
    .container
        .row.hidden-xs.flex
            .col-sm-3.flex-middle
                a(href='#')
                    img.logo(src='../img/logo.png')
            .col-sm-9.flex-space-between
                a.btn.btn-lg.menu-icon.jdb
                a.btn.btn-lg.menu-icon.fishing
                a.btn.btn-lg.menu-icon.ranking
                a.btn.btn-lg.menu-icon.recreaction
                a.btn.btn-lg.menu-icon.sport
                a.btn.btn-lg.menu-icon.lottery
                a.btn.btn-lg.menu-icon.mobile
                a.btn.btn-lg.menu-icon.activity
                a.btn.btn-lg.menu-icon.lucky
                a.btn.btn-lg.menu-icon.played

    //on mobile
    .row.visible-xs
        .col-sm-3.text-left

        .col-sm-6.text-center
            a(href='#')
                img.logo.small(src='../img/logo.png')
        .col-sm-3.text-right
    .row.visible-xs.btn-red.text-center
        p
        | 请先&nbsp;
        a(href='#') 登入会员