.slider-carousel
    img(src='../img/banner-0929.jpg')
    img(src='../img/banner-0930.jpg')
    img(src='../img/banner-0907.jpg')
    img(src='../img/banner-0829.jpg')
    img(src='../img/banner-0901.jpg')
    img(src='../img/banner-0525.jpg')
