//top bar, not show in mobile
.topbar.hidden-xs
    .container
        .row
            .col-sm-4
                span {{time_zone}}
                span(get-current-time='time_format')

            .col-sm-2.col-xs-6
                input.input-textbox.full-width(type='text', placeholder='账号')
            .col-sm-2.col-xs-6
                input.input-textbox.full-width(type='password')
            .col-sm-3
                a.btn.btn-sm.btn-red 登录
                a.btn.btn-sm.btn-red 注册
                a.btn.btn-sm.btn-red 忘记密码
