//When mobile
@media screen and (max-width: 768px) {
  body {
    background-color: yellow;
  }

  .stick-top {
    position: inherit;
    top: inherit;
  }

  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .container-fluid {
    margin: 0;
    padding: 0;
  }

  .marquee {
    color: #ecd39d;
    font-size: 20px;
  }
}

.btn-mobile {
  &-menu {
    img {
      padding: 5%;
      width: 100%;
      transition: .3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}