doctype html
html(lang='zh')
    head
        include include/header

    body(ng-app='mainApp', ng-controller='mainCtrl')
        .container-fluid
            //top row
            .row
                include include/widget/top-menu
            //menu row
            .row
                include include/widget/menu

        .full-width
            include include/widget/slider
        .container-fluid.widget-games
            .row
                include include/widget/game-list


            .row
                p Experience
                a.btn.full-width.btn-user-experience(data-toggle='collapse', href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                    | The Best User Experience
                #collapseExample.collapse.active.in
                    .card.card-block
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

            .row
                .col-sm-12
                    p Partner
            .row
                .col-sm-12.promotion-set.partner
                    .promotion-icon
                    .promotion-icon
                    .promotion-icon
                    .promotion-icon
            .row.footer
                .col-sm-3
                    h3 服务
                    p Foot1
                .col-sm-3
                    h3 新手帮助
                    p Foot2
                .col-sm-3
                    h3 联系我们
                    p Foot3
                .col-sm-3
                    h3 豪博亚洲安全验证
                    p Footer4
