doctype html
html(lang='zh')
    head
        include include/header

    body(ng-app='mainApp', ng-controller='mainCtrl')
        .container-fluid
            //top row
            .row
                include include/widget/top-menu
            //menu row
            .row
                include include/widget/menu
        .full-width
            include include/widget/slider
        .container-fluid.widget-games
            .row
                include include/widget/game-list
        .container
            .row.announcment
                .col-xs-2
                    a.btn.btn-warning Test1
                .col-xs-8.marquee-text
                    p text here
                .col-xs-2
                    a.btn.btn-danger Test2

            .row
                .col-sm-12
                    p Experience
                    a.btn.btn-primary.full-width(data-toggle='collapse', href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                        | The Best User Experience
                    #collapseExample.collapse.active.in
                        .card.card-block
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

            .row
                .col-sm-12
                    p Partner
            .row
                .col-sm-12.promotion-set.partner
                    .promotion-icon
                    .promotion-icon
                    .promotion-icon
                    .promotion-icon
            .row.footer
                .col-sm-3
                    p Foot1
                .col-sm-3
                    p Foot2
                .col-sm-3
                    p Foot3
                .col-sm-3
                    p Footer4p
