doctype html
head
    include include/header

body(ng-app='mainApp', ng-controller='mainCtrl')
    .container-fluid
        //top row
        .row
            .topbar
                .container
                    .row
                        .col-sm-4
                            span {{time_zone}}
                            span(get-current-time='time_format')

                        .col-sm-2.col-xs-6
                            input.input-textbox.full-width(type='text', placeholder='账号')
                        .col-sm-2.col-xs-6
                            input.input-textbox.full-width(type='password')
                        .col-sm-3
                            a.btn.btn-sm.btn-red 登录
                            a.btn.btn-sm.btn-red 注册
                            a.btn.btn-sm.btn-red 忘记密码
        //menu row
        .row
            include include/widget/menu
    .full-width
            include include/widget/slider
    .container-fluid.widget-games
        .row
            .col-sm-12.promotion-set
                .game-icon.case.not-hover
                    .game-icon
                .game-icon.case.not-hover
                    .game-icon.football
                    .game-icon.football-label.not-hover
                .game-icon.case.not-hover
                    .game-icon.bonus
                    .game-icon.bonus-label.not-hover
                .game-icon.case
                    .game-icon.lottery
                    .game-icon.lottery-label.not-hover
    .container
        .row.announcment
            .col-xs-2
                a.btn.btn-warning Test1
            .col-xs-8.marquee-text
                p text here
            .col-xs-2
                a.btn.btn-danger Test2

        .row
            .col-sm-12
                p Experience
                a.btn.btn-primary.full-width(data-toggle='collapse', href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                    | Link with href
                #collapseExample.collapse
                    .card.card-block
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

        .row
            .col-sm-12
                p Partner
        .row
            .col-sm-12.promotion-set.partner
                .promotion-icon
                .promotion-icon
                .promotion-icon
                .promotion-icon
        .row.footer
            .col-sm-3
                p Foot1
            .col-sm-3
                p Foot2
            .col-sm-3
                p Foot3
            .col-sm-3
                p Footer4p
