//@import "compass";
$cl_lite: #dcdcdc;
$img_user-experience: '../img/featrues-title.jpg';
$img_user-experience-after: '../img/featrues-triangle.png';

body {
  -webkit-font-smoothing: antialiased;
}

.btn {
  &-red {
    background: rgb(249,116,92);
    background: -moz-linear-gradient(top,  rgba(249,116,92,1) 1%, rgba(249,90,89,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(249,116,92,1) 1%,rgba(249,90,89,1) 100%);
    background: linear-gradient(to bottom,  rgba(249,116,92,1) 1%,rgba(249,90,89,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9745c', endColorstr='#f95a59',GradientType=0 );
  }
  &-green {
    background: rgb(162,213,31);
    background: -moz-linear-gradient(top,  rgba(162,213,31,1) 1%, rgba(91,167,5,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(162,213,31,1) 1%,rgba(91,167,5,1) 100%);
    background: linear-gradient(to bottom,  rgba(162,213,31,1) 1%,rgba(91,167,5,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d51f', endColorstr='#5ba705',GradientType=0 );
  }
  &-blank {
    background: rgba(0, 0, 0, 0.7);
  }
}

//--- Widget Topbar ---//
.topbar {
  //@include background-image(linear-gradient(top, rgba(76,76,76,0.7) 0%,rgba(89,89,89,0.7) 18%,rgba(28,28,28,0.7) 80%,rgba(19,19,19,0.7) 100%));
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 1%, rgba(0,0,0,0.73) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.73) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.73) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#ba000000',GradientType=0 );

  span {
    color: $cl_lite;
    //display: flex;
  }

}

//-----widget ThumbMenu-----//
@import "include/widget/menu";

.marquee {
  overflow: hidden;
}

//------Widget Games-----//
$location_games_icon: '../img/sprites-profile.png';

.widget-games {
  background: rgb(20,19,25);
  background: -moz-linear-gradient(top,  rgba(20,19,25,1) 0%, rgba(25,24,29,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(20,19,25,1) 0%,rgba(25,24,29,1) 100%);
  background: linear-gradient(to bottom,  rgba(20,19,25,1) 0%,rgba(25,24,29,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141319', endColorstr='#19181d',GradientType=0 );

  .game-icon {
    display: block;
    width: 182px;
    height: 120px;
    background: url($location_games_icon) no-repeat;
    cursor: pointer;

    &.card {

    }
    &.football {
      background-position: 0 -120px;
      &-label {
        background-position: -182px 0;
        height: 62px;
      }
    }
    &.bonus {
      background-position: 0 -240px;
      &-label {
        background-position: -182px -124px;
        height: 62px;
      }
    }
    &.lottery {
      background-position: 0 -360px;
      &-label {
        background-position: -182px -186px;
        height: 62px;
      }
    }
    &.case {
      background-position: -182px -262px;
      height: 189px;
    }

    &:hover:not(.not-hover) {
      transform: translateY(-20px);
    }
    transition: 0.4s;
  }

  .promotion-set {
    display: flex;
    justify-content: space-around;
    margin-bottom: 34px;

    .promotion-icon {
      width: 64px;
      height: 64px;
      background: #ccc;
    }
  }
}

//-----End Widget Games-----//
.input {
  &-textbox {
    width: 135px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #FFF;
    border: 1px solid #413a37;
    border-radius: 5px !important;
    text-indent: 5px;
    background-color: #1a1718;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px
  }
}

.partner {
  display: flex;
  justify-content: space-between;
}

//more css
.full-width {
  width: 100%;
  padding: 0;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.stick-top {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}



.flex {
  display: flex;
  &-middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-space-between {
     display: flex;
     justify-content: space-between;
   }
}

@import "include/override_default";
@import "include/mobile_override";

$announce_height: 40px;
div.announcement {
  .ann-left {
      display: flex;
      height: $announce_height;
      border-radius: 3px 0 0 3px;
  }

  .ann-right {
    display: flex;
    height: $announce_height;
    border-radius: 0 3px 3px 0;
  }

  .ann-middle {
    display: flex;
    align-items: center;
    height: $announce_height;
    color: white;
  }
}

.btn-user-experience {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 130px;
  background: url($img_user-experience) no-repeat 0 0;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -37px;
    left: 50%;
    z-index: 10;
    margin-left: -160px;
    width: 320px;
    height: 37px;
    background: url($img_user-experience-after) no-repeat 0 0;
  }
}